@model TestModel;

<form asp-controller="Home" asp-action="Index" method="post" role="form">
    <div>
        @for (var i = 0; i < Model.InnerModels.Length; i++)
        {
            <input asp-for="@Model.InnerModels[i].Rate" type="number" min="0" step=".01" />
        }
    </div>

    <input type="submit" value="Go" />
</form>